@import "compass/reset";
@import "compass/css3";

body {
	color: #fff;
	font-family: arial;
}

header {
	background-color: #333;
	padding: 10px 13%;
}

header div{
	display:inline-block;
}

header .slideshareLogo span {
	background: url("../images/ios_icon.png") no-repeat;
	background-size: 40px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding-left: 50px;
}

header .slideshareLogo span:after{
	content: "";
	margin-left: 20px;
	border-right: 1px solid rgb(95, 95, 95);
}

header .search {
	border-radius: 3px;
	border: none;
	background-color: #5f5f5f;
	height: 26px;
	width: 200px;
	padding-left: 11px;
	font-size: 14px;
	color: white;
	margin-left: 15px;
	outline: none;
}

header .icon-search:before {
	color: white;
	position: relative;
	right: 34px;
	font-size: 15px;
	vertical-align: middle;
	outline: none;
}

header button.icon-search {
	background-color: transparent;
	border: none;
	outline: none;
}

header .userButtons{
	margin-left:  440px;
}

header .btn {
	background-color: #e48126;
	border-radius: 3px;
	border: none;
	color: white;
	width: 70px;
	height: 30px;
	font-size: 13px;
	outline: none;
}

header #guide{
	background-image: url("../images/hd-icn.svg");
	width: 45px;
	vertical-align: middle;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

header .icon-user:before {
    vertical-align: middle;
	margin-left: 15px;
	font-size: 25px;
	}

nav {
	background-color: #5f5f5f;
	padding-left: 174px;
}

nav li {
	display: inline-block;
	padding: 8px 18px;
	font-size: 14px;
}

nav li:hover{
	background-color:rgb(110, 110, 110);
}
        
.contentWrapper{
	background-image:linear-gradient(to bottom, #00002A, #D3D294, #00002A);
	text-align: center;
}

.contentWrapper h1{
	padding: 13% 0px 0px;
	font-size: 50px;
	letter-spacing: 1px;
}

.contentWrapper p{
	padding: 25px 0px 0px;
	font-size: 20px;
}

button.createNow {
	background-color: #2672ae;
	border: none;
	border-radius: 7px;
	padding: 18px 16px 18px 60px;
	color: white;
	font-size: 19px;
	line-height: 20px;
	outline: none;
}

.linkedin{
	position: relative;
	right: 170px;
	top: 4px;
}

button.noThanks {
	background-color: transparent;
	border-radius: 7px;
	padding: 16px 17px;
	color: white;
	font-size: 17px;
	border: 2px solid #fff;
	outline: none;
	}

div.createOrNot {
	padding-top: 64px;
	padding-bottom: 100px;
}

.contentWrapper img {
	position:relative;
}

div.contentImages {
	position: relative;
	top: 3px;
}

#mobile{
	left: 11%;
	z-index: 1;
}

#browser{
	left: 7%;
}

#tablet{
	left: -7%;
}

footer {
	background-color: #333;
	height:522px;
	text-align: center;
}

footer .footerContent {
	text-align: center;
	padding-top: 43px;
	font-size: 21px;
}

.footerContent p{
	margin-top: 16px;
}

footer .footerContent span:after{
	content: "";
	border-bottom: 1px solid #5f5f5f;
	display: inline-block;
	width: 54px;
	margin-top: 45px;
}

footer ul {
	margin: 64px 100px;
}

footer ul li {
	display: inline-block;
	padding: 0px 35px;
}

footer ul li p {
	padding: 10px 0px;
	font-size: 20px;
}

footer ul li span {
	color: #bbb;
	font-size: 16px;
}

footer ul li .icon-chevron-thin-right {
	color: #bbb;
	font-size: 35px;
}

.footerCreateButton {
	background-color: white;
	border: none;
	border-radius: 7px;
	padding: 8px 13px 8px 12px;
	color: #0076B4;
	font-size: 16px;
	margin-top: 20px;
	position: relative;
	left: 18px;
	outline: none;
}

.lastWords{
	text-align: center;
	position: relative;
	top: 45px;
	left: 240px;
	font-size: 11px;
	color: #bbb;
	width: 1000px;
	}

.footerCreateButton span{
	background-color: #0076B4;
	background-image: url("../images/linkedin-logo-isolated.png");
	background-repeat: no-repeat;
	background-position-x: 6px;
	background-position-y: 4px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 41px;
	margin-right: 12px;
}

